@media (max-width: 780px) {
  h1 {
    padding-top: 1rem;
    font-size: 4rem;
  }
  .main-display {
    flex-direction: column;
  }
  .main-display-list {
    width: 100%;
    max-height: 40vh;
    overflow-y: scroll;
  }
  .main-display-card {
    width: 100%;
    min-height: 60vh;
  }
  span.bold {
    font-size: 3rem;
  }
  .main-display-card-ind-info p,
  .main-display-card-ind-name p {
    font-size: 2rem;
  }
  .main-display-card-ind {
    margin-bottom: 1rem;
  }
}
@media (max-width: 660px) {
  span.bold {
    font-size: 1.8rem;
  }
  .main-display-card-ind-info p,
  .main-display-card-ind-name p {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  span.bold {
    font-size: 1.5rem;
  }
  .main-display-card-ind-info p,
  .main-display-card-ind-name p {
    font-size: 1rem;
  }
  .main-display-card-ind-name,
  .main-display-card-ind-info {
    padding: 1rem;
  }
}
@media (max-width: 380px) {
  span.bold {
    font-size: 1.2rem;
  }
  .main-display-card-ind-info p,
  .main-display-card-ind-name p {
    font-size: 0.8rem;
  }
}
